<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt: Webbhistoria</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/style.css">

  </head>
  <nav>
    <ul class="nav-bar-horisontell">
      <li>
        <a href="/view/Startsida.html">StartSida</a>
      </li>
      <li>
        <a href="/view/ViktigaHändelser.html">Viktiga Händelser</a>
      </li>
      <li>
        <a href="">Hur Hemsidor Har Utväcklas</a>
      </li>
      <li>
        <a href="/view/InternetsGrundläggandePrinciper.html">Internets Grundläggande Principer</a>
      </li>
      <li>
        <a href="/view/WebbPubliceringsSystem.html">WebbPubliceringsSystem</a>
      </li>
    </ul> 
  
  <body >
    <div class="wrapper4">
      <div class="box box41"> <h2>Jöns Jacob 2006</h2> <br>
      <p>hemsidan hade många knappar som man kunde trycka på så att det kan bli jobbigt att veta vart man ska trycka</p>
    <p>det finns inga bilder på den här sidan</p>
  <p>det finns ganska mycket text som är svårt att läsa och jobbigt för ögonen</p></div>
      <div class="box box42"> <img class="bild1" src="/assets/Jönsjacob 2006.PNG" alt="Jönsjacob Hemsida år 2006"> </div>
      <div class="box box43"> <h2>Jöns Jacob 2009</h2> <br> 
      <p>här har dom minskat antalet knappar men välkommst sidan ser slarvigare ut än den från 2006</p>
    <p>det har funnits en bild på den här sidan men det går inte att se vad för bild som har varit där innan</p>
  <p>det finns väldigt lite text som gör att det blir lättläst men att inte all information som är nödvändig kanske inte kommer fram</p></div>
      <div class="box box44"> <img class="bild2" src="/assets/Jönsjacob 2009.PNG" alt="Jönsjacob Hemsida år 2009"> </div>
      <div class="box box45"> <h2>Jöns Jacob 2018</h2> <br>
      <p>den här sidan har lagom knappar och den är mycket bredare än de tidigare hesidorna </p>
    <p>här finns det bilder som visar hur det ser ut och liknande vilket är bra för maknadsförning</p>
  <p>här så kommer texten lite längre ner så att man kan scrolla ner om man vill ha mer information eller om man vill veta mer om Jöns Jacob</p>
  <h4>Jöns Jacob i Framtiden</h4>
<p>Jöns Jacob har gått ifrån ingen bild till någon bild och tillslut så finns det ett flertal bilder så i framtiden så kanske den blir utväcklad till att bara ha bilder utan text eller någon ny sak som kan ersätta bilderna och texten totalt</p></div>
      <div class="box box46"> <img class="bild3" src="/assets/Jönsjacob 2018.PNG" alt="Jönsjacob Hemsida år 2018"> </div>
    </div>
  </body>
  <script src="js/script.js"></script>
</html>