<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt: Webbhistoria</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/style.css">

  </head> 
  <nav>
    <ul class="nav-bar-horisontell">
      <li>
        <a href="/view/Startsida.html">StartSida</a>
      </li>
      <li>
        <a href="/view/ViktigaHändelser.html">Viktiga Händelser</a>
      </li>
      <li>
        <a href="/view/HurHemsidorHarUtväcklats.html">Hur Hemsidor Har Utväcklas</a>
      </li>
      <li>
        <a href="/view/InternetsGrundläggandePrinciper.html">Internets Grundläggande Principer</a>
      </li>
      <li>
        <a href="/view/WebbPubliceringsSystem.html">WebbPubliceringsSystem</a>
      </li>
    </ul>
  </nav>
  <body>

      <div class="wrapper">
          <div class="box right"></div>
          <div class="box left"></div>
          <div class="box box1"><img class="pictures" src="\assets\internet hjärna bild.jpg" > </div>
          <div class="box box2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore autem cumque consequuntur odit. Recusandae sit eligendi nihil quibusdam, molestias dolorem, quas tempore, at est sint nulla animi rerum. Ipsa laudantium ea natus corrupti, hic odit ratione cum nemo consequuntur vero, excepturi animi minus dicta minima! Architecto cum tempora laborum optio impedit, harum ipsam. Repellat eaque eius beatae voluptatibus sapiente, ducimus odio minima aspernatur. Eius modi voluptas ratione vitae nobis similique, non explicabo alias libero quos excepturi nostrum, labore illum aut?</div>
          <div class="box box3">Box 3</div>
          <div class="box box4">Box 4</div>
        </div>

  </body>
  <script src="js/script.js"></script>
</html>
