<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt: Webbhistoria</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/style.css">

  </head>  
  <nav>
    <ul class="nav-bar-horisontell">
      <li>
        <a href="/view/Startsida.html">StartSida</a>
      </li>
      <li>
        <a href="/view/ViktigaHändelser.html">Viktiga Händelser</a>
      </li>
      <li>
        <a href="/view/HurHemsidorHarUtväcklats.html">Hur Hemsidor Har Utväcklas</a>
      </li>
      <li>
        <a href="/view/InternetsGrundläggandePrinciper.html">Internets Grundläggande Principer</a>
      </li>
      <li>
        <a href="/view/WebbPubliceringsSystem.html">WebbPubliceringsSystem</a>
      </li>
    </ul>
  <body>
    
  </body>
  <script src="js/script.js"></script>
</html>