<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt: Webbhistoria</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/style.css">

  </head>  
  <nav>
    <ul class="nav-bar-horisontell">
      <li>
        <a href="/view/Startsida.html">StartSida</a>
      </li>
      <li>
        <a href="">Viktiga Händelser</a>
      </li>
      <li>
        <a href="/view/HurHemsidorHarUtväcklats.html">Hur Hemsidor Har Utväcklas</a>
      </li>
      <li>
        <a href="/view/InternetsGrundläggandePrinciper.html">Internets Grundläggande Principer</a>
      </li>
      <li>
        <a href="/view/WebbPubliceringsSystem.html">WebbPubliceringsSystem</a>
      </li>
    </ul>
  <body>
    <div class="wrapper2">
    <div id="60talet" class ="box box21"><h1 onclick="open60talet()">viktigaste händelsn 60-talet</h1>
    </div>
    <div id="70talet" class ="box box22"><h1 onclick="open70talet()">viktigaste händelsn 70-talet</h1>
    </div>
    <div id="80talet" class ="box box23"><h1 onclick="open80talet()">viktigaste händelsn 80-talet</h1><br><br>
    <h3>1989 World wide web skapas – nu kan internet bli en publiksuccé</h3>
    
      <p>Under 1989 skapar Tim Berners-Lee det som ska bli World Wide Web. Det bygger på ganska många olika saker men förenklat kan man tänka att det betyder dels att webbplatser eller dokument har en adress, en URL, som talar om hur man hittar dit, och dels ett system för hur webbläsare kan läsa och visa innehåll.
      <br> <br>
      Idag låter det helt självklart, men innan fanns det nästan inga system för att enkelt länka till och mellan saker. Allt låg spritt utan samordning. Att surfa på internet var det alltså inte tal om förrän Tim kommer in i bilden.</p></div>
    <div class ="box box24"><h1 onclick="open90talet()">viktigaste händelsn 90-talet</h1> <br>
      <h3>1999 Wifi: Nu finns internet i luften</h3>
      <p>Det börjar redan 1971 på Hawaii där Norman Abramson, som är professor på universitetet där, lyckas skapa ett trådlöst nätverk med sju olika datorer, som alla kommunicerar via radioapparater.
<br> <br>
      Men det ska dröja till 1991 innan den trådlösa tekniken får ett verkligt användningsområde. NCT Corporation och AT&T i Nederländerna skapar ett system för kassasystem som kan kommunicera med varandra och med en basstation. Produkten kallas WaveLan.
      <br> <br>
      Under nittiotalet lanseras olika varianter av trådlösa nätverk, men utan något gemensamt system. Först 1999 skapas Wifi Alliance under ledning av holländaren Vic Hayes, där alla parter enas om en standard (IEEE 802.11), och plötsligt börjar det bli en självklarhet att internet ska finnas tillgängligt utan sladd. Då slår de trådlösa nätverken igenom och tar plats i hemmet, på kaféet, biblioteket och andra offentliga platser.
      <br> <br>
      Wi-Fi betyder Wireless Fidelity.
      <br> <br>
      En person som gjort viktiga insatser för att möjliggöra tekniken är skådespelaren Hedy Lamarr. Hon lade grunden för dagens trådlösa kommunikation, så som GPS, Wifi och Bluetooth, när hon fick patent på uppfinningen ”Secret Communications System” ihop med affärspartnern George Antheil. Idén gällde ”frekvenshopping”. Men på den tiden fick hon inte gehör för sin uppfinning, som syftade till att med en fjärrkontroll kunna radiostyra torpeder åt den amerikanska armén.</p></div>
    <div class ="box box25"><h1 onclick="open00talet()">viktigaste händelsn 00-talet</h1>
    <br>
    <h3>2005 Youtube startar – och nu kan du dela med dig av dina videoklipp</h3>
      <p>I februari 2005 startas en sida där vem som helst kan ladda upp ett videoklipp. Chad Hurley, Jawed Karim och Steve Chen, som alla har jobbat på PayPal, vill skapa en tjänst där det är enkelt att dela klipp med vänner och med världen. 
      <br> <br>
      Ovan ser du det allra första klippet på Youtube – Me at the zoo – som laddades upp av Jawed Karim. I dag laddas det upp mer än hundra timmar nytt material på Youtube varje minut, och sajten har nästan en miljard unika besökare i månaden.
      <br><br>
      Youtube är också en av de allra populäraste webbplatserna bland svenskar – 82 procent av internetanvändarna har någon gång besökt Youtube, enligt undersökningen Svenskarna och internet.
      <br><br>
      Svenska Felix Kjellberg, mer känd som PewDiePie, har den Youtube-kanal som har allra flest prenumeranter i världen, ungefär 100 miljoner. En annan av Sveriges största Youtube-stjärnor är Clara Henry. Här berättar hon om hur framgångssagan började med ett filmklipp om en viss Apotek-Arne, och om hur hon jobbar med sina filmklipp och följare:</p></div>
    <div class ="box box26"><h1 onclick="open10talet()">viktigaste händelsn 10-talet</h1><br>
      <h3>2011 Med Snapchat skickar vi bilder som kan försvinna – och vi lär oss att ”snapa”</h3>
     <p>Snapchat lanseras 2011 och är en meddelande-app för smarta mobiler. Snapchat gör det möjligt för användarna att skicka bilder och videor – kallade för ”snaps” – till andra användare utan att de kan sparas.
      <br><br>
      Användaren väljer själv hur många sekunder bilden ska visas för mottagaren. Sedan försvinner bilden upp i tomma intet, Snapchat sparar den inte. Om bilden inte visas sparas den i trettio dagar.
      <br><br>
      Snapchat är särskilt populär bland unga och blir snabbt ett verb i form av att ”snapa”.
      <br><br>
      Precis som Facebook har Snapchat skakats av en fejd. Tjänsten skapas av studiekompisarna Frank Brown, Evan Spiegel och Bobby Murphy. Den senare utesluts ur företaget en tid senare, men kräver sin rätt både till pengar och ära. Efter en uppgörelse med Snapchat räknas han numera officiellt som en av grundarna.
      <br><br>
      Företaget har nobbat uppköpsförsök från både Facebook och Google och värderas i början av 2016 till 17 miljarder dollar.</p></div>
    </div>
  </body>
  <script src="/js/script.js"></script>
</html>