<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt: Webbhistoria</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/style.css">

  </head>  
  <nav>
    <ul class="nav-bar-horisontell">
      <li>
        <a href="/view/Startsida.html">StartSida</a>
      </li>
      <li>
        <a href="">Viktiga Händelser</a>
      </li>
      <li>
        <a href="/view/HurHemsidorHarUtväcklats.html">Hur Hemsidor Har Utväcklas</a>
      </li>
      <li>
        <a href="/view/InternetsGrundläggandePrinciper.html">Internets Grundläggande Principer</a>
      </li>
      <li>
        <a href="/view/WebbPubliceringsSystem.html">WebbPubliceringsSystem</a>
      </li>
    </ul>
  <body>
    <div class="wrapper2">
    <div class ="box box21"><h1>viktigaste händelsn 60-talet</h1></div>
    <div class ="box box22"><h1>viktigaste händelsn 70-talet</h1></div>
    <div class ="box box23"><h1>viktigaste händelsn 80-talet</h1></div>
    <div class ="box box24"><h1>viktigaste händelsn 90-talet</h1></div>
    <div class ="box box25"><h1>viktigaste händelsn 00-talet</h1></div>
    <div class ="box box26"><h1>viktigaste händelsn 10-talet</h1></div>
    </div>
  </body>
  <script src="js/script.js"></script>
</html>