<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt: Webbhistoria</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/style.css">

  </head> 
  <nav>
    <ul class="nav-bar-horisontell">
      <li>
        <a href="/view/Startsida.html">StartSida</a>
      </li>
      <li>
        <a href="/view/ViktigaHändelser.html">Viktiga Händelser</a>
      </li>
      <li>
        <a href="/view/HurHemsidorHarUtväcklats.html">Hur Hemsidor Har Utväcklas</a>
      </li>
      <li>
        <a href="/view/InternetsGrundläggandePrinciper.html">Internets Grundläggande Principer</a>
      </li>
      <li>
        <a href="">WebbPubliceringsSystem</a>
      </li>
    </ul> 
  <body>
    <div class = "wrapper5">
    <div class = "box box51"><h2>Webb Publicerings System </h2></div>
    <div class = "box box52"> 
         <a href="/assets/moinmoin.html"><h1>MoinMoin</h1></a> 

         <h4>Developers</h4>
         <p>Jürgen Hermann <br>
        Thomas Waldmann</p>
        
        <h4>Stable release</h4>
        <p>1.9.10 / 2018-09-09</p>

        <h4>Repository</h4>
        <a href="github.com/moinwiki/moin"><p>github.com/moinwiki/moin</p></a>

        <h4>Written in</h4>
        <p>Python 2.7</p>

        	
        
        	
        
      
        	
        	
        	
        <p> <b>License</b> 	GPL v2 or later</p> 
        </div>
        <div class = "box box53"> <img id = "a" src="/assets/Censhare.png" alt="Censhare">
        <h3><pre>Developer                                            Website</pre></h3> 
        <p><pre>censhare AG                                                   <a href ="/assets//Universal Content Management - DAM, PIM and CMS Platform - censhare.html">Censhare</a></pre></p>
        <h4>Stable release</h4>
        <p>2018.1 / March 2018</p>
        <h4>Type</h4>
        <a href="/assets/Web content management system - Wikipedia.html"><p>web content management system</p>
</a>        </div>
        <div class = "box box54">
        <img src="/assets/Moinmoin.png" alt="MoinMoin">
      
        <h4>Initial release	</h4>
        <p>July 29, 2000; 19 years ago</p>
        <h4>Operating system </h4>
        <p>Cross-platform</p>
        <h4>Type</h4>
        <p>Wiki software</p>

        </div>
        
    </div>
  </body>
  <script src="js/script.js"></script>
</html>