<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt: Webbhistoria</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/style.css">

  </head> 
  <nav>
    <ul class="nav-bar-horisontell">
      <li>
        <a href="/view/Startsida.html">StartSida</a>
      </li>
      <li>
        <a href="/view/ViktigaHändelser.html">Viktiga Händelser</a>
      </li>
      <li>
        <a href="/view/HurHemsidorHarUtväcklats.html">Hur Hemsidor Har Utväcklas</a>
      </li>
      <li>
        <a href="/view/InternetsGrundläggandePrinciper.html">Internets Grundläggande Principer</a>
      </li>
      <li>
        <a href="">WebbPubliceringsSystem</a>
      </li>
    </ul> 
  <body>
    <div>Moinmoin.png<br>
        Developer(s)	Jürgen Hermann<br>
        Thomas Waldmann<br>
        Initial release	July 29, 2000; 19 years ago<br>
        Stable release	<br>
        1.9.10[1] / 2018-09-09[±]<br>
        Repository	<br>
        github.com/moinwiki/moin<br>
        Edit this at Wikidata<br>
        Written in	Python 2.7<br>
        Operating system	Cross-platform<br>
        Type	Wiki software<br>
        License	GPL v2 or later<br>
        Website	moinmo.in</div>
    
  </body>
  <script src="js/script.js"></script>
</html>